$fontColor: #292929;
$fontSecColor: #616161 ;
$cardColor: #f3f3f3;
$buttLinksColor: #DA2535;
$bgColor: #FBFBFB; 

$contentFont: 'Inter', sans-serif;
$titleFont: 'Montserrat', sans-serif;
$footerTitleFont: 'Poppins', sans-serif;
$footerContent: 'Roboto', sans-serif;

$radius: 10px;
