$fontColor: #292929;
$fontSecColor: #616161 ;
$cardColor: #f3f3f3;
$buttLinksColor: #DA2535;
$bgColor: #FBFBFB; 

$contentFont: 'Inter', sans-serif;
$titleFont: 'Montserrat', sans-serif;
$footerTitleFont: 'Poppins', sans-serif;
$footerContent: 'Roboto', sans-serif;

$radius: 10px;

@mixin title(){
    font-family: $titleFont;
    font-size: 4rem;
    font-weight: 600;
}

@mixin art_description(){
    font-family: $contentFont;
    font-size: 1.5rem;
    font-weight: 400;
}
