$fontColor: #292929;
$fontSecColor: #616161 ;
$cardColor: #f3f3f3;
$buttLinksColor: #DA2535;
$bgColor: #FBFBFB; 

$contentFont: 'Inter', sans-serif;
$titleFont: 'Montserrat', sans-serif;
$footerTitleFont: 'Poppins', sans-serif;
$footerContent: 'Roboto', sans-serif;

$radius: 10px;

@mixin title(){
    font-family: $titleFont;
    font-size: 4rem;
    font-weight: 600;
}

@mixin art_description(){
    font-family: $contentFont;
    font-size: 1.5rem;
    font-weight: 400;
}

@mixin button(){
    width: 290px;
    height: 4rem;
    background-color: $buttLinksColor;
    text-align: center;
    align-items: center;
    font-family: $contentFont;
    color: $cardColor;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin container_section(){
    display: flex;
    align-items: center;
    margin-top: 100px;
}

@mixin content_section(){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}