@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@500;600&family=Poppins:wght@500&family=Roboto&display=swap');
@import 'base';

*{
    margin: 0 auto;
    text-decoration: none;   
    color: $fontColor;
}
a{
    color: $fontColor;
    &:hover{
        color: #DA2535;
    }
}
#logo_FoodJP{
    font-family: $titleFont;
    font-weight: 700;
}
#logo_JP{
    color: $buttLinksColor;
}
.container{
    width: 90%;
    max-width:1200px ;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.nav_menu{
display: flex;
justify-content: space-evenly;

font-family: $titleFont;
font-weight: 500;
font-size: 1.5rem;

padding: 18px 0 18px 0;

text-decoration: none;
}
.nav_menu_entrar{
    font-size: 1.5rem;
    padding: 18px 60px;
    border: $fontColor 2px solid;
    border-radius: $radius; 
}
#cardapio_option{
    margin-left: 91px;
    margin-right: 91px;
}
.title{
    @include title;
}

.hero_section_1{
    width: 400px;
}

.flex{
    display: flex;
    justify-items: center;
}

.art_description{
    @include art_description;
}