@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@500;600&family=Poppins:wght@500&family=Roboto&display=swap');

$fontColor: #292929;
$fontSecColor: #616161 ;
$cardColor: #f3f3f3;
$buttLinksColor: #DA2535;
$bgColor: #FBFBFB; 

$contentFont: 'Inter', sans-serif;
$titleFont: 'Montserrat', sans-serif;
$footerTitleFont: 'Poppins', sans-serif;
$footerContent: 'Roboto', sans-serif;

$radius: 10px;

*{
    margin: 0 auto;
    text-decoration: none;   
    color: $fontColor;
}
a{
    color: $fontColor;
}
a:hover{
    color: #DA2535;
}
#logo_FoodJP{
    font-family: $titleFont;
    font-weight: 700;
}
#logo_JP{
    color: $buttLinksColor;
}
.container{
    background-color: $bgColor;
    max-width: 1920px;
    border: 1px solid black ;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.nav_menu{
display: flex;
justify-content: space-evenly;

font-family: $titleFont;
font-weight: 500;
font-size: 1.5rem;

padding: 18px 0 18px 0;

text-decoration: none;
}
.nav_menu_entrar{
    padding: 18px 60px;
    border: $fontColor 2px solid;
    border-radius: $radius; 
}
#cardapio_option{
    margin-left: 91px;
    margin-right: 91px;
}

.hero_section_1{
    width: 400px;
}

.section_1{
    display: flex;
}

.section_1 > p{
    font-size: 4rem;
}