@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@500;600&family=Poppins:wght@500&family=Roboto&display=swap');
@import 'base';

*{
    margin: 0 auto;
    text-decoration: none;   
    color: $fontColor;
}

a{
    color: $fontColor;
    &:hover{
        color: #DA2535;
    }
}
.container_section{
    @include container_section;
    .content_section{
        @include content_section;
    }
}
.container_section_bottom{
    @include container_section;
    flex-direction: row-reverse;
    .content_section_bottom{
        @include content_section;
        margin-left: 100px;
    }
}

.button_high{
    @include button;
}

.link_underline{
    text-decoration: underline;
    font-family: $contentFont;
    color: $buttLinksColor;
    font-size: 1.5rem;
}

#logo_FoodJP{
    font-family: $titleFont;
    font-weight: 700;
}
#logo_JP{
    color: $buttLinksColor;
}
.container{
    width: 90%;
    max-width:1200px ;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.nav_menu{
display: flex;
justify-content: space-evenly;

font-family: $titleFont;
font-weight: 500;
font-size: 1.5rem;

padding: 18px 0 18px 0;

text-decoration: none;
}
.nav_menu_entrar{
    font-size: 1.5rem;
    padding: 18px 60px;
    border: $fontColor 2px solid;
    border-radius: $radius; 
}
#cardapio_option{
    margin-left: 91px;
    margin-right: 91px;
}
.title{
    @include title;
}


.flex{
    display: flex;
    justify-items: center;
}

.art_description{
    @include art_description;
}

/*MAIS POPULARES*/
.populares{
    width: 100%;
    margin-top: 100px;
    .title{
        text-align: center;
        margin-bottom: 30px;
    }
    .cards_container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .card{
            width: 330px;
            display: flex;
            flex-direction: column;
            align-items: center;

            font-family: $contentFont;

            img{
                max-height: 280px;
                max-width: 280px;

                margin-bottom: 1rem;
            }

            h3{
                font-size: 2rem;
            }
            p{
                width: 260px;
                font-size: 20px;
                text-align: center;
                
                margin-top: 10px;
                margin-bottom: 20px;


            }
            span{
                font-size: 30px;
            }
        }
    }
}

/*TESTIMONIALS*/
.testimonials{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    .title{
        text-align: center;
        margin-bottom: 30px;
    }
    .cards_testimonial_container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-family: $contentFont;
        font-size: 1.5rem;
        .card{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 315px ;
            width: 500px;
            padding: 40px;
            background-color: $bgColor;
            img{
                height: 120px;
                width: 120px;
            }
            .testimonial_card_nome{
                font-size: 2rem;
            }
            .testimonial_card_content{
                font-size: 1.5rem;
            }
            div i{
                color: $buttLinksColor ;
            }
        }
    }
}