@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@500;600&family=Poppins:wght@500&family=Roboto&display=swap");
* {
  margin: 0 auto;
  text-decoration: none;
  color: #292929;
}

a {
  color: #292929;
}
a:hover {
  color: #DA2535;
}

.container_section {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.container_section .content_section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
}

.container_section_bottom {
  display: flex;
  align-items: center;
  margin-top: 100px;
  flex-direction: row-reverse;
}
.container_section_bottom .content_section_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  margin-left: 100px;
}

.button_high {
  width: 290px;
  height: 4rem;
  background-color: #DA2535;
  text-align: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #f3f3f3;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link_underline {
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  color: #DA2535;
  font-size: 1.5rem;
}

#logo_FoodJP {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#logo_JP {
  color: #DA2535;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.nav_menu {
  display: flex;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 18px 0 18px 0;
  text-decoration: none;
}

.nav_menu_entrar {
  font-size: 1.5rem;
  padding: 18px 60px;
  border: #292929 2px solid;
  border-radius: 10px;
}

#cardapio_option {
  margin-left: 91px;
  margin-right: 91px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 600;
}

.flex {
  display: flex;
  justify-items: center;
}

.art_description {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

/*MAIS POPULARES*/
.populares {
  width: 100%;
  margin-top: 100px;
}
.populares .title {
  text-align: center;
  margin-bottom: 30px;
}
.populares .cards_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.populares .cards_container .card {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.populares .cards_container .card img {
  max-height: 280px;
  max-width: 280px;
  margin-bottom: 1rem;
}
.populares .cards_container .card h3 {
  font-size: 2rem;
}
.populares .cards_container .card p {
  width: 260px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.populares .cards_container .card span {
  font-size: 30px;
}

/*TESTIMONIALS*/
.testimonials {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.testimonials .title {
  text-align: center;
  margin-bottom: 30px;
}
.testimonials .cards_testimonial_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}
.testimonials .cards_testimonial_container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 315px;
  width: 500px;
  padding: 40px;
  background-color: #FBFBFB;
}
.testimonials .cards_testimonial_container .card img {
  height: 120px;
  width: 120px;
}
.testimonials .cards_testimonial_container .card .testimonial_card_nome {
  font-size: 2rem;
}
.testimonials .cards_testimonial_container .card .testimonial_card_content {
  font-size: 1.5rem;
}
.testimonials .cards_testimonial_container .card div i {
  color: #DA2535;
}/*# sourceMappingURL=style.css.map */